body {
  color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(movietheater.jpg);
  background-size: cover;
}

.main {
  max-width: 600px;
  background-color: #d3d6db;
  opacity: 0.7;
  text-align: center;
  padding: 40px 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

h1 {
  color: grey;
  text-align: center;
  font-size: 48px;
}

.content {
  margin: 120px auto;
  max-width: 600px;
}

form {
  display: flex;
  justify-content: space-between;
}

.form-input {
  width: 70%;
  padding: 20px;
  border: 1px solid #303841;
  border-radius: 40px;
}

.form-button {
  width: 20%;
  background-color: #c40a23;
  color: white;
  border-radius: 40px;
  border: none;
  font-size: 14px;
}

.hint {
  font-size: 10px;
  padding-top: 10px;
  text-align: left;
}

.recommended {
  color: black;
  max-width: 600px;
  background-color: #d3d6db;
  opacity: 0.7;
  text-align: center;
  padding: 40px 20px;
  border-radius: 15px;
  font-size: 14px;
}

.hidden {
  display: none;
}

footer {
  font-size: 12px;
  text-align: center;
  padding: 30px;
}

a {
  color: #c40a23;
  text-decoration: none;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
